/* HTML in general */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
  margin:0;
  padding:0;
}

/* Fonts */
@font-face {
  font-family: GoogleSans;
  src: url("../fonts/GoogleSans-Regular.ttf") format('truetype');
}

/* Nice background colors: #FAF5F5 */
body {
  background-color: #FAF7F5;
  font-family: GoogleSans, myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
  color: #727272;
  line-height: 24px;
}

div.main {
  background-color: #FAF7F5;
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

table {
  background-color: #FAF7F5;
  /* An absolute width control if viewport is too wide. */
  max-width: 800px;
  /* table width is 80% of the viewport width, this is critical */
  width: 80vw;  
}

/* ******************  Misc. Classes ****************** */
.signature{
  border-bottom: 2px #586e75 dotted;
}

p.contact {
  text-align: left;
  font-size: 80%;
  color: gray;
}

.auth{
  /* color: #93a1a1; */
}

/* ****************** Header ****************** */
h1 {
  line-height: 56px;
  font-family: 'Roboto Slab', serif;
  display: inline;
  font-size: 250%;
  font-weight: 400;
  color: #414141;
  text-decoration: none;
}

h2 {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
  font-weight: 500;
  color: #414141;
  text-decoration: none;
}

/* ****************** Links ******************
 * blue 1: #7694a7
 * blue 2: #39c
 */

a, a:link, a:visited {
  color: #8c1515;
  text-decoration: none;
}

a:active {
  color: #939393;
  text-decoration: none
}

a:hover {
  border-bottom: #939393;
  color: #939393;
  text-decoration: none
}

/* publisher links */
a.publisher {
}

a.publisher:link {
  display: inline;		
}

a.publisher:visted {}

a.publisher:active {}

a.publisher:hover {}

/* paper title links */
a.paper_title {
  /* font-weight: bold; */
  color: #313131;
  text-decoration: none;
}

a.paper_title:link {
  color: #313131;
  text-decoration: none
}

a.paper_title:visited {
  color: #313131;
  text-decoration: none
}

a.paper_title:active {
  color: #939393;
  text-decoration: none
}

a.paper_title:hover {
  border-bottom: #939393;
  color: #939393;
  text-decoration: none
}
